<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>dumonitor-storage</display-name>

     <servlet>
        <servlet-name>HeartbeatServlet</servlet-name>
        <servlet-class>ee.ria.dumonitor.storage.Heartbeat</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HeartbeatServlet</servlet-name>
        <url-pattern>/heartbeat</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>StoreServlet</servlet-name>
        <servlet-class>ee.ria.dumonitor.storage.Store</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StoreServlet</servlet-name>
        <url-pattern>/store</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>QueryServlet</servlet-name>
        <servlet-class>ee.ria.dumonitor.storage.Query</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>QueryServlet</servlet-name>
        <url-pattern>/query</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>XroadServlet</servlet-name>
        <servlet-class>ee.ria.dumonitor.storage.Xroad</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>XroadServlet</servlet-name>
        <url-pattern>/xroad</url-pattern>
    </servlet-mapping>
    
    <mime-mapping>
    	<extension>html</extension>
    	<mime-type>text/html;charset=UTF-8</mime-type>
    </mime-mapping>
    
    <mime-mapping>
    	<extension>js</extension>
    	<mime-type>text/javascript;charset=UTF-8</mime-type>
    </mime-mapping>
</web-app>
