Source: dumonitor-storage
Section: X-Road
Priority: extra
Maintainer: Ivo Mehide <ivo@degeetia.ee>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/e-gov/AJ/

Package: dumonitor-storage
Architecture: all
Depends: nginx-common, xroad-jetty9
Description: X-tee andmejälgija andmesalvestaja komponent
 Komponent säilitab andmekasutuse logikirjeid
